{% extends "base_site.html" %}

{% block title %} 算法选择 {% endblock title %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    蚁群算法
                </h3>
            </div>

        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <form class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if msg %}
                            <div class="alert alert-warning">

                                <a href="#" class="close" data-dismiss="alert">
                                    &times;
                                </a>
                                <strong>警告！</strong>{{ msg }}
                            </div>

                            {% endif %}


                            <div class="item form-group">


                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="name">数据集 <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <input class="form-control col-md-7 col-xs-12" name="input_info"
                                           required="required" type="file"/>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <input class="form-control col-md-7 col-xs-12" name="output_info"
                                           required="required" type="file"/>
                                </div>
                                <div class="col-md-2 ">
                                    <button type="submit" class="btn btn-primary">运行</button>

                                </div>
                            </div>


                            <div class="ln_solid"></div>

                        </form>

                        <div style="width: 100%;height: 400px;text-align:center;font-size:28px">
                            {% for foo in result %}
                            <p>{{foo}}</p>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- validator -->
<script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}
