<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/admin/list/" class="site_title"><i class="fa fa-spinner"></i>
            <span>特征选择</span></a>
    </div>

    <div class="clearfix"></div>


    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">

                <li><a href="/index/"><i class="fa"></i> 算法介绍</a></li>

                <li><a><i class="fa"></i> 算法选择 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/qea/">量子群演化算法</a></li>
                        <li><a href="/aco/">蚁群算法</a></li>
                        <li><a href="/GA/">遗传算法</a></li>

                    </ul>
                </li>
                <li><a href="/comment/"><i class="fa"></i> 算法评论</a>


                </li>


            </ul>
        </div>
    </div>

</div>
