{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>选课中心 <small></small></h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">

                            <div class="clearfix"></div>
                        </div>
                
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-lg-6">

                                    </div>

                                    <div class="col-lg-6" style="margin-top: -15px">
                                        <form class="bs-example bs-example-form" role="form">
                                            <div class="row">
                                                <br>
                                                <div class="col-lg-10">
                                               
                                                </div><!-- /.col-lg-6 -->
                                            </div><!-- /.row -->
                                        </form>

                                    </div>
                                </div>


                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>课程id</th>
                                        <th>课程名称</th>
                                        <th>授课教师</th>
                                        <th>性别</th>
                                        <th>教师简介</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for foo in result %}
                                        <tr>
                                            <td>{{ foo.id }}</td>
                                            <td>{{ foo.course.title }}</td>
                                            <td>{{ foo.user.username }}</td>
                                            <td>
                                            {% if foo.user.sex %}
                                                男
                                                {%else%}
                                                女
                                            {% endif %}
                                                </td>
                                            <td>{{ foo.user.summary }}</td>
                                            <td>
                                                <a type="button" class="btn btn-warning"
                                                   href="/seleted/course/now/?id={{ foo.id }}">我要上课</a>
                            
                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                                <ul class="pagination">

                                    {% for foo in page.paginator.page_range %}
                                        {% ifequal foo page.number %}
                                            <li class="active"><a href="/admin/list/?page=
                                                    {{ foo }}{% if keyword %}&keyword={{ keyword }}{% endif %}">{{ foo }}</a>
                                            </li>
                                        {% else %}
                                            <li><a href="/admin/list/?page=
                                                    {{ foo }}{% if keyword %}&keyword={{ keyword }}{% endif %}">{{ foo }}</a>
                                            </li>

                                        {% endifequal %}
                                    {% endfor %}


                                </ul>

                            </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}



