{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>成员管理 <small></small></h3>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">

                            <div class="clearfix"></div>
                        </div>
                
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a type="button" class="btn btn-primary" href="/group/stu/add/?courseid={{courseid}}&groupid={{id}}">添加成员</a>
                                        <a type="submit" class="btn btn-primary" href="/course/detail/?id={{courseid}}">返回</a>

                                    </div>

                             
                                        <form class="bs-example bs-example-form" role="form">
                                            <div class="row">
                                                <br>
                                                <div class="col-lg-10">
                                                    <div class="input-group">
                                        
                                                    </div><!-- /input-group -->
                                                </div><!-- /.col-lg-6 -->
                                            </div><!-- /.row -->
                                        </form>

                                    </div>
                                </div>


                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>学生姓名</th>
                                        <th>角色类型</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for foo in groupStudentList %}
                                        <tr>
                                            <td>{{ foo.user.username }}</td>
                                            <td>
                                                
                                              
                                              {% ifequal foo.type 0  %} 
                                                  组员
                                                  {%else%}
                                                  组长
                                              {% endifequal %}
                                                  </td>
                                            <td>
                                                {% ifequal foo.type 0  %} 
                                                <a type="button" class="btn btn-warning"
                                                href="/group/stu/leader/?id={{ foo.id }}&courseid={{courseid}}&groupid={{id}}">设置为组长</a>
                                                {%else%}
                                          
                                            {% endifequal %}
                                          
                                                <a type="button" class="btn btn-danger"
                                                   href="/group/stu/del/?id={{ foo.id }}&courseid={{courseid}}&groupid={{id}}">移除</a>
                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                                <ul class="pagination">

                                    {% for foo in page.paginator.page_range %}
                                        {% ifequal foo page.number %}
                                            <li class="active"><a href="/admin/list/?page=
                                                    {{ foo }}{% if keyword %}&keyword={{ keyword }}{% endif %}">{{ foo }}</a>
                                            </li>
                                        {% else %}
                                            <li><a href="/admin/list/?page=
                                                    {{ foo }}{% if keyword %}&keyword={{ keyword }}{% endif %}">{{ foo }}</a>
                                            </li>

                                        {% endifequal %}
                                    {% endfor %}


                                </ul>

                            </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}



