<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/admin/list/" class="site_title"><i class="fa fa-spinner"></i> <span>物业管理系统</span></a>
    </div>

    <div class="clearfix"></div>


    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a><i class="fa"></i> 管理员管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                            <li><a href="/admin/list/">成员管理</a></li>
                            <li><a href="/admin/status/list/">状态管理</a></li>

                    </ul>

                <li><a><i class="fa"></i> 业主管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/user/list/">用户管理</a></li>
                    </ul>
                </li>
                <li><a><i class="fa"></i> 宣传维护部 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/report/list/">业主问题上报</a></li>
                        <li><a href="/public/list/">宣传信息</a></li>
                        <li><a href="/repair/list/">小区维修信息</a></li>
                        <li><a href="/complaints/list/">小区投诉信息</a></li>
                        <li><a href="/guest/list/">访客信息</a></li>
                    </ul>
                </li>
                <li><a><i class="fa"></i> 部门管理 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/staff/list/">职工管理</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>

</div>
