<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/admin/list/" class="site_title"><i class="fa fa-spinner"></i> <span>学生选课系统</span></a>
    </div>

    <div class="clearfix"></div>


    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                
              
              {% ifequal request.user.type 1  %} 
                        
              <li><a href="/course/list/"><i class="fa"></i> 课程管理 <span class="fa "></span></a>
                  

                <li><a href="/theme/list/"><i class="fa"></i> 主题管理 <span class="fa"></span></a>
                 
                </li>
                {% else %}
                <li><a href="/stu/course/list/"><i class="fa"></i> 选课中心 <span class="fa "></span></a>
                  

                    <li><a href="/my/stu/course/list/"><i class="fa"></i> 我的选课 <span class="fa"></span></a>
                     
                    </li>
                    <li><a href="/my/stu/group/list/"><i class="fa"></i> 分组信息 <span class="fa"></span></a>
                    </li>
              {% endifequal %}
                  
          
              
            </ul>
        </div>
    </div>

</div>
