<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span> 脸谱管理系统</span></a>
  </div>

  <div class="clearfix"></div>


  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">


          <li><a href="/user/list/"> <i class="fa fa-home"></i> 用户管理</a></li>

          <li><a href="/cate/list/"><i class="fa fa-home"></i> 分类管理</a></li>
        <li><a href="/face/list/"><i class="fa fa-home"></i> 脸谱管理</a></li>
        <li><a href="/feedback/list/"><i class="fa fa-home"></i> 问题处理</a></li>



      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <!-- /menu footer buttons -->
</div>
