{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
    {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main" style="min-height: 800px">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>主页</h3>
                </div>


                <div class="row">


                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content" style="text-align: center">
                                <div style="margin-top: 100px">

                                    {% if update_last %}
                                        <h2>最新更新时间：{{ update_last }}</h2>
                                    {% else %}
                                        <h1> 暂时无数据</h1>
                                    {% endif %}
                                </div>

                                <div>

                                    {% if current_user %}
                                        {% if current_user.status==1 %}
                                            <a class="btn btn-primary" href="/start/spider/">开始爬取</a>

                                        {% endif %}


                                    {% endif %}
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
{% endblock javascripts %}



