{% extends "person_base.html" %}
{% load static %}
{% block person %}
<div class="jumbotron">
    <h4>发布随笔</h4>
</div>
        <div class="row" style="margin-top: 10px">
            <div class="sol-sm-12">
                <form action="" method="post">
                    {% csrf_token %}
                          <div class="mb-3">
                        <input class="form-control"
                                  name="title">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"
                                  name="content"></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn-primary btn" type="submit">发布</button>
                    </div>
                </form>

            </div>
        </div>



{% endblock %}