{% extends 'base.html' %}
{% block content %}
    <h1 style="margin-top: 30px">我的收藏</h1>
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-12">
            <ul class="list-group">
                {% for foo in collectGoods %}
                    <li class="list-group-item" aria-disabled="true">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="/{{ foo.goods.goods_image }}" alt="" style="width: 120px;">
                            </div>
                            <div class="col-sm-5">
                                <p>{{ foo.goods.name }}</p>
                                <p>￥{{ foo.goods.price }}</p>

                            </div>
                            <div class="col-sm-4" style="line-height: 120px">
                                <a href="/books/detail/?id={{ foo.goods.id }}" class="btn-primary btn">查看</a>

                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>


        </div>

    </div>
{% endblock %}