{% extends "person_base.html" %}
{% load static %}
{% block person %}
    <div class="jumbotron">
        <h4>我的书单</h4>
    </div>
    <ul class="list-group">
        {% for foo in collectBook %}

            <li type="button" class="list-group-item list-group-item-action">
                <div class="row">


                    <div class="col-sm-8"><a href="/book/detail/?id={{ foo.book.id }}">{{ foo.book.title }}</a></div>
                    <div class="col-sm-4"><a href="/book/collect/?id={{ foo.book.id }}&back=my" class="btn btn-primary">取消</a></div>
                </div>

            </li>

        {% endfor %}
    </ul>


{% endblock %}