{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>数据处理</h5>
                </div>


                <div class="ibox-content">
                    <div class="form-horizontal" method="post" enctype="multipart/form-data" action="">
                        <div class="row form_info">
                            <div class="form-group"><label class="col-lg-2 control-label">sample id</label>

                                <div class="col-lg-8"><p>{{ data.sample_id }}</p>
                                </div>

                            </div>
                            <div class="form-group"><label class="col-lg-2 control-label">sample name</label>

                                <div class="col-lg-8">
                                    <p>{{ data.sample_name }}</p>

                                </div>
                            </div>
                            <div class="form-group"><label class="col-lg-2 control-label">user name</label>

                                <div class="col-lg-8">
                                    <p>{{ data.user_name }}</p>


                                </div>
                            </div>
                            <div class="form-group"><label class="col-lg-2 control-label">address</label>

                                <div class="col-lg-8">
                                    <p>{{ data.address }}</p>

                                </div>
                            </div>
                            <div class="form-group" id="info"><label class="col-lg-2 control-label">process</label>

                                <div class="col-lg-8">
                                    <p>{{ data.process }}</p>

                                </div>
                            </div>
                            <div class="form-group"><label class="col-lg-2 control-label">information</label>

                                <div class="col-lg-8">
                                    <p>{{ data.information }}</p>

                                </div>
                            </div>


                            {% for foo in fieldList %}
                                <div class="form-group {{ foo.name }}"><label
                                        class="col-lg-2 control-label">{{ foo.name }}</label>

                                    <div class="col-lg-8"><p>{{ foo.value }}</p>
                                    </div>


                                </div>


                            {% endfor %}

                              <div class="form-group "><label
                                        class="col-lg-2 control-label">图片</label>

                                    <div class="col-lg-8" style="margin-top: 10px"><a href="/data/image?id={{ data._id }}">点此查看图片</a>
                                    </div>


                                </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}