{% extends 'base.html' %}

{% block content %}
    <style>
        td {
            width: 120px;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
    </style>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用户列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="row" style="margin-top: 50px">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <table class="table-bordered table">


                                <tr>
                                    <td><strong>username</strong></td>
                                    <td><strong>email</strong></td>
                                    <td><strong>institution</strong></td>
                                    <td><strong>级别</strong></td>
                                    <td><strong>status</strong></td>
                                    <td><strong>操作</strong></td>


                                </tr>
                                {% for foo in users %}
                                    <tr>

                                        <td>{{ foo.user_name }}</td>
                                        <td>{{ foo.email }}</td>
                                        <td>{{ foo.institution }}</td>
                                        <td>{% if foo.rank %}
                                        {% elif foo.auth==1 %}
                                            普通
                                        {% elif foo.auth==2 %}
                                            管理员
                                        {% elif foo.auth==3 %}
                                            超级管理员
                                        {% else %}
                                            未开通
                                        {% endif %} </td>
                                        <td>{% if foo.status==0 %}
                                            冻结

                                        {% else %}
                                            正常
                                        {% endif %} </td>
                                        <td>
                                            <a href="/user/edit?id={{ foo._id }}" class="btn btn-info">修改权限</a>
                                            <a href="/user/edit?id={{ foo._id }}" class="btn btn-info">修改权限</a>
                                        </td>

                                    </tr>


                                {% endfor %}


                            </table>
                        <ul class="pagination">

                            {% for foo in all_page %}
                                {% if foo==page %}
                                    <li  class="page-item active" style="background-color: #0d70b7"><a  class="page-link" href="/user/list?page={{ foo }}" style="background-color: #0e9aef;color: white">{{ foo }}</a></li>


                                {% else %}
                                    <li><a href="/user/list?page={{ foo }}">{{ foo }}</a></li>

                                {% endif %}


                            {% endfor %}
                            </ul>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}