{% extends 'base.html' %}

{% block content %}
    <style>
        td {
            width: 120px;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
    </style>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>数据列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-6">
                                    {% if cookie.auth!=1 %}

                                        <a href="/data/edit" class="btn btn-info">添加</a>
                                    {% endif %}
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        <form class="bs-example bs-example-form" role="form" method="get"
                                              style="margin-top: -20px">
                                            <div class="row">
                                                <br>
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" name="keyword">
                                                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                                                    </div><!-- /input-group -->
                                                </div><!-- /.col-lg-6 -->
                                            </div><!-- /.row -->
                                        </form>
                                    </div>

                                </div>
                            </div>


                            <table class="table-bordered table">
                                <tr>
                                    <td><strong>sample id</strong></td>
                                    <td><strong>sample name</strong></td>
                                    <td><strong>user name</strong></td>
                                    <td><strong>address</strong></td>
                                    <td><strong>process</strong></td>
                                    <td><strong>information</strong></td>
                                    <td><strong>操作</strong></td>


                                </tr>
                                {% for foo in data %}
                                    <tr>

                                        <td>
                                            <a href="/data/detail?id={{ foo._id }}"> {{ foo.sample_id }}</a></td>
                                        <td><a href="/data/detail?id={{ foo._id }}"> {{ foo.sample_name }}</a>

                                        </td>
                                        <td>
                                            <a href="/data/detail?id={{ foo._id }}"> {{ foo.user_name }}</a>
                                          </td>
                                        <td>
                                            <a href="/data/detail?id={{ foo._id }}"> {{ foo.address }}</a>
                                         </td>
                                        <td>
                                            <a href="/data/detail?id={{ foo._id }}"> {{ foo.process }}</a></td>
                                        <td>
                                            <a href="/data/detail?id={{ foo._id }}"> {{ foo.information }}</a></td>
                                        <td>
                                            {% if cookie.auth!=1 %}

                                                <a href="/data/edit?id={{ foo._id }}" class="btn btn-info">修改</a>
                                                <a href="/data/edit?id={{ foo._id }}" class="btn btn-info">删除</a>
                                            {% endif %}
                                        </td>

                                    </tr>


                                {% endfor %}


                            </table>
                            <ul class="pagination">

                                {% for foo in all_page %}
                                    {% if foo==page %}
                                        <li class="page-item active" style="background-color: #0d70b7"><a
                                                class="page-link" href="/user/list?page=
                                                {{ foo }}{% if keyword %}&keyword={{ keyword }}{% endif %}"
                                                style="background-color: #0e9aef;color: white">{{ foo }}</a></li>


                                    {% else %}
                                        <li><a href="/index?page=



                                                {{ foo }}{% if keyword %}&keyword={{ keyword }}{% endif %}">{{ foo }}</a>
                                        </li>

                                    {% endif %}


                                {% endfor %}
                            </ul>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}