<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title>Bootstrap 实例 - 响应式的列重置</title>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
   <div class="row" style="margin-top: 100px;">
     <div class="col-sm-1"></div>
     <div class="col-sm-10" style="text-align: center;">

        <!-- 标准的按钮 -->
<a type="button" class="btn btn-success" href="/search/">模糊查询</a>
<!-- 提供额外的视觉效果，标识一组按钮中的原始动作 -->
<a type="button" class="btn btn-primary" href="/search2/">精确查询</a>

     </div>
   </div>
</div>

</body>
</html>