<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title>Search</title>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
   <div class="row" style="margin-top: 100px;">
     <div class="col-sm-1"></div>
     <div class="col-sm-10" style="text-align: center;">

      <form class="form-inline" role="form" method="get" action="">
         {% csrf_token %}
         <div class="form-group">
           <input type="text" name="keyword" class="form-control" id="name"  value="{% if keyword %}{{keyword}}{% endif %}" placeholder="请输入关键字" style="width: 300px;">
         </div>

         <button type="submit" class="btn btn-success">Search</button>
       </form>
     </div>
   </div>

{% if  result%}
   

   
   <div class="row" style="margin-top: 100px;">
      <div class="col-sm-1"></div>
      <div class="col-sm-10" style="text-align: center;">
         <table class="table">
            <thead>
              <tr>
                <th>City</th>
                <th>Year</th>
                <th>Sport</th>
                <th>Discipline</th>
                <th>Event</th>
                <th>Athlete</th>
                <th>Gender</th>
                <th>Country_Code</th>
                <th>Country</th>
                <th>Event_gender</th>
                <th>Medal</th>
             
              </tr>
            </thead>
            <tbody>
               
               {% for foo in result.object_list %}
               <tr>
                  <td>{{foo.city}}</td>
                  <td>{{foo.year}}</td>
                  <td>{{foo.gid.sport}}</td>
                  <td>{{foo.gid.discipline}}</td>
                  <td>{{foo.eid.event}}</td>
                  <td>{{foo.athlete}}</td>
                  <td>{{foo.gender}}</td>
                  <td>{{foo.country_code}}</td>
                  <td>{{foo.country}}</td>
                  <td>{{foo.eid.gender}}</td>
                  <td>{{foo.medal}}</td>
                </tr>
               {% endfor %}
                  
        
          
            </tbody>
          </table>
          <p>
            {% if result.has_previous %}
              <a href="?page={{ result.previous_page_number }}&keyword={{keyword}}">Previous</a>
              {% endif %}
              {# result.paginator.number_pages 返回总页数 #}
              Page {{ result.number }} of {{ result.paginator.num_pages }}.
            {% if result.has_next %}
              <a href="?page={{ result.next_page_number }}&keyword={{keyword}}">Next</a>
            {% endif %}
            </p>
      </div>
      
    </div>
    {% endif %}
</div>

</body>
</html>