<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="#" class="site_title"><i class="fa fa-spinner"></i> <span>财务报销系统</span></a>
    </div>

    <div class="clearfix"></div>


    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a><i class="fa"></i> 个人资料 <span class="fa"></span></a></li>
                <li><a><i class="fa"></i> 报销标准 <span class="fa "></span></a></li>
                <li><a><i class="fa"></i> 报销申请单 <span class="fa "></span></a></li>
                <li><a><i class="fa"></i> 报销单据 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">供应商支付单</a></li>
                        <li><a href="#">借款单</a></li>
                        <li><a href="#">出差申请单</a></li>
                        <li><a href="#">差旅费用报销</a></li>
                        <li><a href="#">日常费用报销</a></li>
                        <li><a href="#">还款单</a></li>

                    </ul>
                </li>                
                <li><a><i class="fa"></i> 申请记录 <span class="fa "></span></a></li>
                <li><a><i class="fa"></i> 发票上传 <span class="fa "></span></a></li>
                <li><a><i class="fa"></i> 审批进度查询 <span class="fa"></span></a></li>

               
           

            </ul>
        </div>
    </div>

</div>
