<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span> 租房分析系统</span></a>
  </div>

  <div class="clearfix"></div>


  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
              <li><a href="/index/"><i class="fa fa-home"></i> 主页</a>

          {% if current_user %}

              {% if current_user.status==1 %}
                                              <li><a href="/user/list/"> <i class="fa fa-home"></i> 用户管理</a>

              {% endif %}


          {% endif %}

        <li><a href="/room/num/"><i class="fa fa-home"></i> 房源数量</a>
        <li><a href="/avg/total/"><i class="fa fa-home"></i> 平均房价</a>
        <li><a href="/area/count/"><i class="fa fa-home"></i> 面积分布</a>
        <li><a href="/shan/dian/"><i class="fa fa-home"></i> 散点图</a>
        <li><a href="/cloud/"><i class="fa fa-home"></i> 热门户型</a>

        </li>

      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <!-- /menu footer buttons -->
</div>
