{% extends 'base.html' %}
{% block content %}
<div class="row">
<div class="col-sm-1"></div>

<div class="col-sm-10">

<div class="row" style="margin-top:100px">

<div class="col-sm-4" style="text-align:center">

<img src="https://p.qqan.com/up/2021-2/16140653342262296.jpg" class="img-circle" style="width:200px;">
</div>

<div class="col-sm-4"  style="text-align:center">
<img src="https://p.qqan.com/up/2021-2/16140653342262296.jpg" class="img-circle" style="width:200px;margin:0 auto;">

</div>

<div class="col-sm-4"  style="text-align:center">
<img src="https://p.qqan.com/up/2021-2/16140653342262296.jpg" class="img-circle" style="width:200px;margin:0 auto;">

</div>
</div>


<div class="row" style="height:220px;background-color:#DEA44A;margin-top:-100px;z-index:-99;position: relative;text-align:center;color:#3A5C75;">
<div class="col-sm-4">
<h2>Account1</h2>

</div>
<div class="col-sm-4">
<h2>Account2</h2>

</div>
<div class="col-sm-4">
<h2>Account3</h2>

</div>
</div>
</div>




</div>


<div class="row">
<div class="col-sm-1"></div>

<div class="col-sm-10">

<div class="row" style="margin-top:100px">

<div class="col-sm-4" style="text-align:center">

<img src="https://p.qqan.com/up/2021-2/16140653342262296.jpg" class="img-circle" style="width:200px;">
</div>

<div class="col-sm-4"  style="text-align:center">
<img src="https://p.qqan.com/up/2021-2/16140653342262296.jpg" class="img-circle" style="width:200px;margin:0 auto;">

</div>

<div class="col-sm-4"  style="text-align:center">
<img src="https://p.qqan.com/up/2021-2/16140653342262296.jpg" class="img-circle" style="width:200px;margin:0 auto;">

</div>
</div>


<div class="row" style="height:220px;background-color:#3A5C75;margin-top:-100px;z-index:-99;position: relative;text-align:center;color:#DEA44A">
<div class="col-sm-4">
<h2>Account3</h2>

</div>
<div class="col-sm-4">
<h2>Account4</h2>

</div>
<div class="col-sm-4">
<h2>Account5</h2>

</div>
</div>
</div>




</div>
<div class="row" style="margin-top:100px"></div>




{% endblock %}