{% extends 'base.html' %}
{% block content %}
<div class="row">

<div class="col-sm-2"></div>

<div class="col-sm-8">
<div style="width:100%%;min-height:1450px;margin:0 auto;margin-top:50px">

<div style="width:650px;height:60px;background:#DEBB7F;border:1px solid #DEBB7F;z-index:99;position: relative;">

<div style="width:650px;height:60px;background:#DEA44A;border:1px solid #DEA44A;margin-top:-10px;margin-left:-10px;">
<div style="width:100%%height:100%;line-height:50px;text-align:center;color:white;font-size:28px;font-weight:bolder">

Leave your comment here!

</div>


</div>
</div>

<div style="width:100%;background:#587387;border:1px solid #587387;margin:0 auto;margin-top:-40px">


<div style="width:100%;background:#3A5C75;border:1px solid #3A5C75;margin:0 auto;margin-top:-10px;margin-left:10px;" >
<div class="row" style="margin-top:100px">
<div class="col-sm-1"></div>
<div class="col-sm-10">
<div style="width:100%;height:90px;background:white;color:#587387">
    <div style="margin-left:15px;padding-top:5px">
    <u><h4 style>Account Name:</h4></u>
    
    </div>
<p style="margin-left:40px;margin-top:10px;font-size:18px">comment content.........</p>

</div>


</div>

</div>


<div class="row" style="margin-top:20px">
<div class="col-sm-1"></div>
<div class="col-sm-10">
<div style="width:100%;height:90px;background:white;color:#587387">
    <div style="margin-left:15px;padding-top:5px">
    <u><h4 style>Account Name:</h4></u>
    
    </div>
<p style="margin-left:40px;margin-top:10px;font-size:18px">comment content.........</p>

</div>


</div>

</div>


<div class="row" style="margin-top:20px">
<div class="col-sm-1"></div>
<div class="col-sm-10">
<div style="width:100%;height:90px;background:white;color:#587387">
    <div style="margin-left:15px;padding-top:5px">
    <u><h4 style>Account Name:</h4></u>
    
    </div>
<p style="margin-left:40px;margin-top:10px;font-size:18px">comment content.........</p>

</div>


</div>

</div>

<div class="row" style="margin-top:30px">
<div class="col-sm-1"></div>
<div class="col-sm-10">

<div class="row" style="padding-bottom:100px">
<div class="col-sm-11">
<input type="text" style="width:100%">
</div>

<div class="col-sm-1" >
<button style="background:#587387;color:white;">
send
</button></div>

</div>

</div>


</div>
</div>
</div>

</div>
</div>
{% endblock content %}}