{% extends 'base.html' %}
{% block content %}
    <h1 style="margin-top: 30px">购物车</h1>
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-12">
            <ul class="list-group">
                {% for foo in cartList %}
                    <li class="list-group-item" aria-disabled="true">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="/{{ foo.goods.goods_image }}" alt="" style="width: 120px;">
                            </div>
                            <div class="col-sm-4">
                                <p>{{ foo.goods.name }}</p>
                                <p>￥{{ foo.goods.price }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数量：{{ foo.num }}</p>
                                <p>规格{{ foo.goods.size }}</p>

                            </div>
                            <div class="col-sm-5">
                                <a class="btn btn-primary" href="/cart/del/?id={{ foo.id }}">删除</a>

                            </div>
                        </div>
                    </li>
                {% endfor %}
                <h3 style="margin-top: 20px">总价： {{ total_price }}</h3>
            </ul>
            {% if cart %}
                <a class="btn btn-primary" href="/goods/order/?id=cart">下单</a>
            {% else %}
            {% endif %}


        </div>

    </div>
{% endblock %}