{% extends 'base.html' %}
{% block content %}
<div class="glist-container">
    <div class="goods-list">
      

        <div class="row gl-default clearfix">
            <div class="glist-item">
                <div class="thumbnail goods-item">
                    <div class="gi-image-wrapper">
                        <a href="/item-772.html">
                            <img class="item-img"
                                src="https://cnd.haojue.com/public/images/43/2a/51/fafeeba8c3e37c0afd1a3bb4aff606405a9227e2.jpg?25665_OW800_OH800"
                                alt="XCR300">
                        </a>
                    </div>
                    <div class="caption">
                        <h3 class="g-name">
                            <a href="/item-772.html">XCR300</a>
                        </h3>
                        <ul class="list-inline">
                            <li class="price-1 text-danger">￥27980</li>
                            </view>

                        </ul>
                        <ul class="goods-tags">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="glist-item">
                <div class="thumbnail goods-item">
                    <div class="gi-image-wrapper">
                        <a href="/dr300.html">
                            <img class="item-img"
                                src="https://cnd.haojue.com/public/images/d5/2d/10/ff3fba2273da102c2de8910a6b5322010b2dd9f8.jpg?67011_OW800_OH800"
                                alt="DR300">
                        </a>
                    </div>
                    <div class="caption">
                        <h3 class="g-name">
                            <a href="/dr300.html">DR300</a>
                        </h3>
                        <ul class="list-inline">
                            <li class="price-1 text-danger">￥26680</li>
                            <li class="price-1 del">￥33080</li>
                            </view>

                        </ul>
                        <ul class="goods-tags">
                            <li>总优惠6400元</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="glist-item">
                <div class="thumbnail goods-item">
                    <div class="gi-image-wrapper">
                        <a href="/dr250.html">
                            <img class="item-img"
                                src="https://cnd.haojue.com/public/images/52/ec/95/cfacc5d67b7a5b4ce013aa29f76dc49d1ad798bb.jpg?67094_OW800_OH800"
                                alt="DR250">
                        </a>
                    </div>
                    <div class="caption">
                        <h3 class="g-name">
                            <a href="/dr250.html">DR250</a>
                        </h3>
                        <ul class="list-inline">
                            <li class="price-1 text-danger">￥24680</li>
                            <li class="price-1 del">￥29680</li>
                            </view>

                        </ul>
                        <ul class="goods-tags">
                            <li>总优惠5000元</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="glist-item">
                <div class="thumbnail goods-item">
                    <div class="gi-image-wrapper">
                        <a href="/item-352.html">
                            <img class="item-img"
                                src="https://cnd.haojue.com/public/images/d2/53/06/779a8c565e294421731989e047ff45104a529f7d.jpg?67389_OW800_OH800"
                                alt="DL250-C 有三箱">
                        </a>
                    </div>
                    <div class="caption">
                        <h3 class="g-name">
                            <a href="/item-352.html">DL250-C 有三箱</a>
                        </h3>
                        <ul class="list-inline">
                            <li class="price-1 text-danger">￥27680</li>
                            <li class="price-1 del">￥32680</li>
                            </view>

                        </ul>
                        <ul class="goods-tags">
                            <li>总优惠5000元</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="glist-item">
                <div class="thumbnail goods-item">
                    <div class="gi-image-wrapper">
                        <a href="/item-560.html">
                            <img class="item-img"
                                src="https://cnd.haojue.com/public/images/2f/7c/9e/4c320f63fbff63a0ab5d0a7acf4ab162982f35a4.jpg?67428_OW800_OH800"
                                alt="DL250-A 无三箱">
                        </a>
                    </div>
                    <div class="caption">
                        <h3 class="g-name">
                            <a href="/item-560.html">DL250-A 无三箱</a>
                        </h3>
                        <ul class="list-inline">
                            <li class="price-1 text-danger">￥26580</li>
                            <li class="price-1 del">￥31580</li>
                            </view>

                        </ul>
                        <ul class="goods-tags">
                            <li>总优惠5000元</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="glist-item">
                <div class="thumbnail goods-item">
                    <div class="gi-image-wrapper">
                        <a href="/item-312.html">
                            <img class="item-img"
                                src="https://cnd.haojue.com/public/images/e6/9d/45/c41413f46f8b7712f85f505a5f2803f92772bcb3.jpg?67471_OW800_OH800"
                                alt="GSX250R-A">
                        </a>
                    </div>
                    <div class="caption">
                        <h3 class="g-name">
                            <a href="/item-312.html">GSX250R-A</a>
                        </h3>
                        <ul class="list-inline">
                            <li class="price-1 text-danger">￥26680</li>
                            <li class="price-1 del">￥30680</li>
                            </view>

                        </ul>
                        <ul class="goods-tags">
                            <li>总优惠4000元</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="glist-item">
                <div class="thumbnail goods-item">
                    <div class="gi-image-wrapper">
                        <a href="/gw250.html">
                            <img class="item-img"
                                src="https://cnd.haojue.com/public/images/bc/fe/11/4f09e3526a662bbb6fa42587b4f33cb131e6f7c3.jpg?67517_OW800_OH800"
                                alt="骊驰GW250-A">
                        </a>
                    </div>
                    <div class="caption">
                        <h3 class="g-name">
                            <a href="/gw250.html">骊驰GW250-A</a>
                        </h3>
                        <ul class="list-inline">
                            <li class="price-1 text-danger">￥23680</li>
                            <li class="price-1 del">￥26680</li>
                            </view>

                        </ul>
                        <ul class="goods-tags">
                            <li>总优惠3000元</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="glist-item">
                <div class="thumbnail goods-item">
                    <div class="gi-image-wrapper">
                        <a href="/nk150s.html">
                            <img class="item-img"
                                src="https://cnd.haojue.com/public/images/d3/dd/c2/e97b7eded822ddffcc64056b7cee492c1676de63.jpg?67846_OW800_OH800"
                                alt="NK150S ABS">
                        </a>
                    </div>
                    <div class="caption">
                        <h3 class="g-name">
                            <a href="/nk150s.html">NK150S ABS</a>
                        </h3>
                        <ul class="list-inline">
                            <li class="price-1 text-danger">￥12280</li>
                            <li class="price-1 del">￥12880</li>
                            </view>

                        </ul>
                        <ul class="goods-tags">
                            <li>领券优惠600元</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="glist-item">
                <div class="thumbnail goods-item">
                    <div class="gi-image-wrapper">
                        <a href="/nk150.html">
                            <img class="item-img"
                                src="https://cnd.haojue.com/public/images/fc/83/79/cebe55c19b7d93867d85acae397b6893c8b4915e.jpg?67877_OW800_OH800"
                                alt="NK150">
                        </a>
                    </div>
                    <div class="caption">
                        <h3 class="g-name">
                            <a href="/nk150.html">NK150</a>
                        </h3>
                        <ul class="list-inline">
                            <li class="price-1 text-danger">￥11380</li>
                            <li class="price-1 del">￥11980</li>
                            </view>

                        </ul>
                        <ul class="goods-tags">
                            <li>领券优惠600元</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}